@import '../bower_components/reveal.js/css/theme/template/mixins';
@import '../bower_components/reveal.js/css/theme/template/settings';

$mainColor: #333;
$headingColor: #333;
$backgroundColor: #fff;
$headingTextShadow: none;
$selectionBackgroundColor: #c41200;
$linkColor: #c41200;
$linkColorHover: #c41200;
$headingLineHeight: 1em;

@import '../bower_components/reveal.js/css/theme/template/theme';

.reveal pre {
  background-color: #f5f5f1;
  border: 1px solid #ccccc8;
  border-radius: 4px;
  box-shadow: none;
}

pre code {
  background-color: #f5f5f1;
}

.yelp-logo {
  background: url('logo.png');
  bottom: 10px;
  height: 58px;
  position: absolute;
  right: 10px;
  width: 110px;
}

.reveal .controls {
  left: 10px;
  right: auto;
}

.reveal li {
  padding-bottom: .5em;
}

.reveal section img {
  background: none;
  border: 0;
  box-shadow: none;
}

.reveal section ul ol {
  padding-left: 1em;
}
